<div id="terminalCommandsDialog" class="modal hide">
    <div class="modal-header">
        <h4 data-bind="text: title"></h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">

        <div class="control-group">
            <label class="control-label">{{ _('Name') }}</label>
            <div class="controls">
                <input style="width: 97%" data-bind="value: name, valueAllowUnset: true"></input>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">{{ _('Commands') }}</label>
            <div class="controls">
                <textarea style="width: 97%; height: auto" data-bind="value: commands"></textarea>
            </div>
        </div>
            
        </form>
    </div>

    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">{{ _('Cancel') }}</a>
        <a href="#" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">{{ _('Confirm') }}</a>
    </div>
</div>